* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    font-size: 1.2rem;
    width: 100vw;
    height: 150vh;
    background: linear-gradient(to right, #0818ff, #00ffff);
    overflow: hidden;
}

.shippori-antique-regular {
    font-family: "Shippori Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav {
    display: flex;
    width: 80%;
    margin: 20px auto;
    align-items: center;
    font-weight: 550;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links li {
    list-style: none;
}

.logo-area {   
    display:  flex;
    align-items: center;
    color: #fff;
}

.logo {
    width: 20%;
    height: 20%;
    margin-right: 20px;
}

.nav-links ul li {
    display: inline-block;
    padding: 0 2rem;
}

.nav-links ul a {
    font-weight: 600;
    color:rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
    
}

.nav-links ul a:hover {
    color:rgb(54, 54, 54)
}

.text {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    width: 80%;
    font-weight: 550;
    color: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem; /* 文字サイズを大きく設定 */
}


.container {
    width: 100%; /* 固定値ではなく、画面幅に合わせる */
    max-width: 1200px; /* 最大幅を指定 */
    margin: 0 auto;
}

.karu-seru {
    position: absolute;
    top: 45%;
    left: 36%;
}
  
